.container(ng-controller="LoginCtrl")
  form(name="loginForm").form-signin
    h4.form-signin-heading
      i.fa.fa-sign-in
      |  Sign in
    p(ng-show="!signupMode")
      a(ng-click="login('facebook')").btn.btn-default.btn-block.facebook
        i.fa.fa-facebook
      a(ng-click="login('google')").btn.btn-default.btn-block.google
        i.fa.fa-google-plus
      a(ng-click="login('twitter')").btn.btn-default.btn-block.twitter
        i.fa.fa-twitter
      a(ng-click="login('github')").btn.btn-default.btn-block.github
        i.fa.fa-github
    hr
    .alert.alert-danger(ng-show="err")
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      | {{err}}
    .form-group
      input(
        type="email",
        name="email",
        ng-model="email",
        ng-required="true",
        placeholder="Enter email address"
      ).form-control
    .form-group
      input(
        name="password",
        ng-model="password",
        ng-required="true",
        type="password",
        placeholder="Enter password"
      ).form-control
    .form-group
      input(
        ng-show="signupMode"
        name="confirm",
        ng-model="confirm",
        ng-required="signupMode",
        type="password",
        placeholder="Confirm password"
      ).form-control
    label.checkbox(ng-show="!signupMode")
      input(type="checkbox", ng-model="rememberMe")
      | Remember me
    p.btn-toolbar
      button(ng-show="!signupMode", ng-disabled="loginForm.$invalid", ng-click="login('password')").btn.btn-primary.btn-block
        i.fa.fa-sign-in
        |   Sign in
      button(ng-show="signupMode", ng-disabled="loginForm.$invalid || loginForm.$pristine", ng-click="signup()").btn.btn-primary
        i.fa.fa-sign-in
        |   Sign up
      a(ng-show="signupMode", ng-click="toggleSignup()").btn.btn-default Cancel
    p.text-muted.text-center(ng-show="!signupMode")
      | Or 
      a(ng-click="toggleSignup()",href="#/login") create an account