.container(ng-controller="LoginCtrl")
  form(name="loginForm").form-signin
    h4.form-signin-heading
      i.fa.fa-sign-in
      |  Sign in
    p
      a(ng-click="login('facebook')").btn.btn-default.btn-block.facebook
        i.fa.fa-facebook
      a(ng-click="login('google')").btn.btn-default.btn-block.google
        i.fa.fa-google-plus
      a(ng-click="login('twitter')").btn.btn-default.btn-block.twitter
        i.fa.fa-twitter
      a(ng-click="login('github')").btn.btn-default.btn-block.github
        i.fa.fa-github
    hr
    .alert.alert-danger(ng-show="err")
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      | {{err}}
    input(
      type="email",
      name="email",
      ng-model="email",
      ng-required="true",
      placeholder="Enter email address"
    ).form-control
    input(
      name="password",
      ng-model="password",
      ng-required="true",
      type="password",
      placeholder="Enter password"
    ).form-control
    label.checkbox
      input(type="checkbox", ng-model="rememberMe")
      | Remember me
    p
      button(ng-disabled="loginForm.$invalid || loginForm.$pristine", ng-click="login('password')").btn.btn-primary.btn-block
        i.fa.fa-sign-in
        |   Sign in
    p.text-muted.text-center
      | Or 
      a(href="#/signup") create an account