.container(ng-controller="LoginCtrl")
  form(name="loginForm").form-signin
    h2.form-signin-heading Sign in
    input(
      type="email",
      name="email",
      ng-model="email",
      ng-required="true",
      placeholder="Enter email address"
    ).form-control
    input(
      name="password",
      ng-model="password",
      ng-required="true",
      type="password",
      placeholder="Enter password"
    ).form-control
    label.checkbox
      input(type="checkbox", ng-model="rememberMe")
      | Remember me
    button(ng-disabled="loginForm.$invalid || loginForm.$pristine", ng-click="login()").btn.btn-primary.btn-block Sign in