.container(ng-controller="AdminPostsCtrl")
  .row
    .col-xs-12.col-sm-12.col-md-3.col-lg-3
      form(name='postForm', role='form').well
        .form-group
          label(for='title') Title
          input#title.form-control(
            ng-model='new.title',
            name='title',
            ng-required="true",
            type='text',
            placeholder='Enter post title'
          )
        .form-group
          label(for='body') Body
          textarea#body.form-control(
            ng-model='new.body',
            name='body',
            ng-required="true",
            placeholder="Enter post body"
          )
        button.btn.btn-primary(
          ng-disabled="postForm.$invalid",
          ng-click='save(new)',
          type='button'
        )
          i.fa.fa-save
          |  Save
        
    .col-xs-12.col-sm-12.col-md-9.col-lg-9
      table.table.table-striped
        thead
          tr
            th Title
            th(colspan="2")
        tbody
          tr(ng-repeat="post in posts")
            td {{post.title}}
            td.btn-toolbar
              button(ng-click="remove($index)", type="button").btn-xs.btn.btn-danger Delete
              button(ng-click="update($index,post)", type="button").btn-xs.btn.btn-default Edit